:host {
  --_gap: 2rem; // this prop will be reset by TS
  --_animation-duration: 2000ms; // this prop will be reset by TS
  
  overflow: hidden;
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: var(--_gap);
}

.text {
  translate: -100% 0;
  animation-name: go-forward;
  animation-duration: var(--_animation-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.1s;
}

@keyframes go-forward {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100% + var(--_gap)));
  }
}