:root {
  // FONTS
  --primary-font: 'open sans', 'helvetica', arial, sans-serif; // general text
  --secondary-font: 'Antonio', 'helvetica', arial, sans-serif; // main nav, titles and headings
  --accent-font: 'oswald', 'helvetica', arial, sans-serif;

  // GENERAL COLORS
  --color-primary: #ffffff;
  --color-primary-dark: #D3D9FF;
  // --primary-color-light: ;

  --color-secondary: #05015a;
  --color-secondary-light: #07008b;
  --color-secondary-dark: #030048;

  --color-accent: #fcebc5;
  --color-accent-light: #fff7e6;
  --color-accent-dark: #fedf9c;

  // GENERAL SIZES
  --border-radius-sm: 2px;
  --border-radius-md: 3px;
  --border-radius-lg: 5px;
}